# Logs
logs
*.log
out

# Dependencies
node_modules

# Build folders
.next
dist
dist-ssr

# Environment files
.env
.env.local
*.local

# IDE files
.vscode/*
!.vscode/extensions.json
.idea

# OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?